@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #313131;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #242424;
  border-radius: 100vh;
}

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
      @apply bg-zinc-800
  }
}

@layer components {
    .btn-blue {
      @apply bg-blue-500 hover:bg-blue-400 border text-white font-bold py-2 px-4 rounded;
    }

    .linkblock-1 {
      @apply text-xl py-2 relative text-center;
    }
    .linkblock-1::before {
      @apply content-[''] absolute left-0 py-2 w-2 h-10 hover:w-64 md:hover:w-52 lg:hover:w-64 bg-zinc-700/50 transition-all;
    }

  }